<h2 li class="headtitles">About.</h2>
<p>Student at Rutgers Business School double majoring in Finance and Economics. Research Analyst Intern for <a href='https://lendedu.com/'>LendEDU.</a> Halfway decent Tennis player.</p>

<h2 li class="headtitles">Resume.</h2>



<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/tedmcc7">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:tedmc7@gmail.com">Contact Me</a>
  </li>
</ul>
